<!-- <a routerLink="/rentals/car findings"></a> -->

<section class="searching">
   <div class="serching">
    <div class="row">    
        <div class="col-md-12-ml-auto">
          <h6 class="catchphrase">Awesome Cars For The Best Prices Just for You - Car 2 Rental</h6>
      </div> 
   </div>
       
    <div class="col-md-6">
        <div class="car-rental-app-form">
        <h1 class="page-title">Search Your car</h1>
            
    
          <app-search-dates></app-search-dates>
                    <p>
                    <label for="Gearbox">Gearbox:</label>
                    </p>   

                     <div class="form-group" >                
                     <ng-multiselect-dropdown
                     [placeholder]="'Choose Gearbox'"
                     [data]="dropdownList"
                     [settings]="dropdownSettings"
                     (onSelect)="onItemSelect($event)"
                     (onSelectAll)="onSelectAll($event)">
                    </ng-multiselect-dropdown> 
                     
                     </div>     
                                  
                    <p>
                    <label for="year">Production Year:</label>
                    </p>

                    <div class="form-group">
                    <ng-multiselect-dropdown 
                    [placeholder]="'Choose Production Year'"
                    [data]="dropdownList1"
                    [settings]="dropdownSettings"
                    (onSelect)="onItemSelect($event)"
                    (onSelectAll)="onSelectAll($event)">
                    </ng-multiselect-dropdown>
                    </div>   
                                      
                    <p>
                    <label for="company">Company:</label>
                    </p>

                    <div class="form-group">
                    <ng-multiselect-dropdown
                    [placeholder]="'Choose Company'"
                    [data]="dropdownList2"
                    [settings]="dropdownSettings"
                    (onSelect)="onItemSelect($event)"
                    (onSelectAll)="onSelectAll($event)">
                    </ng-multiselect-dropdown>
                    </div>     
            
            
                    <p>
                    <label for="model">Model:</label>
                    </p>

                    <div class="form-group">
                    <ng-multiselect-dropdown 
                    [placeholder]="'Choose Model'"
                    [data]="dropdownList3"
                    [settings]="dropdownSettings"
                    (onSelect)="onItemSelect($event)"
                    (onSelectAll)="onSelectAll($event)">
                    </ng-multiselect-dropdown>
                    </div>

            <div class="form-group1">
                    <p>
                    <label for="pickup">Pick-up:</label>
                    </p>
                    <select>    
                    <option hidden>Choose</option>                    
                    <option value="Ben Gurion Airport, terminal 3">
                                   Ben Gurion Airport, terminal 3</option>
                    <option value="Sde Dov Airport, Tel Aviv-Yafo">
                                   Sde Dov Airport, Tel Aviv-Yafo</option>             
                    </select>
                    </div>

                   <div class="form-group2">  
                   <input type="checkbox" (click)="isShow=!isShow">Return car to other location
                   </div>
                   
                   <div class="form-group3">
                   <div class="ruleOptionsPanel" *ngIf="isShow">
                   <p>
                   <label for="dropoff">Drop-off:</label>
                   </p>
                   <select>    
                   <option hidden>Choose</option>                    
                   <option value="Ben Gurion Airport, terminal 3">
                                  Ben Gurion Airport, terminal 3</option>
                   <option value="Sde Dov Airport, Tel Aviv-Yafo">
                                  Sde Dov Airport, Tel Aviv-Yafo</option>               
                   </select>       
                   </div>
                   </div>
                

            <div class="form-group3">
            <p>
            <label for="comments">Comments:</label>
            </p>
            <textarea  name="comments" rows="4" cols="100" form="userform">
                      Enter text here...</textarea>
                      </div>

        
            <button class="btn btn-danger btn-confirm btn-clock">Search</button>
       </div>
     </div>
  </div>
</section> 

  
 
