<!-- <app-header (featureSelected)="onNavigate($event)"></app-header> -->
 <!-- <app-header title="Car 4 Rental"></app-header>  -->  
<div class = "container">
<div class = "row">
<h1>Car 2 Rental</h1>
      <p>In Car 2 Rental Everyone find The ultimate car in The best price. 
         Our Goal is to help YOU find The car You WISH. IN THIS WEBSITE 
         There is an Advance system which help YOU TO search, find and calculate
         how much will cost you to RENTAL THE CAR YOU WISH. WE will do all the
         effrots to help you find your CAR 2 RENTAL in every step. YOU can always
         CONTACT US IF YOU HAVE QUSTIONS and SUGGESTIONS IN EVERY TOPIC. THANK YOU 
         A LOT OF GIVING US A CHANCE TO HELP YOU TO FIND CAR 2 RENTAL. 
      </p>
<!-- <app-home (featureSelected)="onNavigate($event)"></app-home>
    <app-home *ngIf = "loadedFeature === 'app-home'"></app-home>  -->
    </div>
</div>