<div class="booking">
  <h3 class="booking-price"> ${{price}} <span class="booking-per-day">Per Day</span></h3>
  <hr>
  <label>Dates:</label>
  <input type="text" class="form-control daterangepicker-input" name="daterangeInput" daterangepicker [options]="options"
        (selected)="selectedDate($event, daterange)"/>
         <div class="form-group">
           <label for="days">Days:</label>
           <input type="number" class="form-control" id="days" aria-describedby="emailHelp" placeholder="">
          </div>
          <button class="btn btn-danger btn-confirm btn-clock">Rental Car Now</button>
          <hr>
          <p class="booking-note-title">People are intrested in this Car</p>
          <p class="booking-note-text">More than 1000 people checked this rental in last month</p>
    </div>